---
layout: default
title: Server Rules
---
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
{% assign sorted_rules = site.rules | sort: 'order' %}
<div class="container"><h1>Server Rules</h1>
    Read the rules below carefully. You are responsible as a player for knowing and understanding these rules. If there is something you do not understand, please ask a moderator. Saying you were not aware of the rules is not excusable if you violate them.<br><br>
    | {% for rule in sorted_rules %}
    <a href="#{{ rule.link }}">{{ rule.title }}</a> |
    {% endfor %}
</div>
<br>
{% for rule in sorted_rules %}
<div class="container">
    <h2 id="{{ rule.link }}">{{ rule.title }}</h2>
    {{ rule.content | markdownify }}
</div>
<br>
{% endfor %}
</body>
</html>