---
layout: default
title: Server Rules
---
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
{% assign sorted_rules = site.rules | sort: 'order' %}
<div class="container"><h1>Server Rules</h1>
    {% for rule in sorted_rules %}
    <a href="#{{ rule.link }}">{{ rule.title }}</a><br>
    {% endfor %}
</div>
<br>
{% for rule in sorted_rules %}

<div class="container">
    <h2 id="{{ rule.link }}">{{ rule.title }}</h2>
    {{ rule.content | markdownify }}
</div>
<br>
{% endfor %}
</body>
</html>