@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");

body {
  background-color: #000000;
  color: white;
}

h1 {
  color: white;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.current {
  color: orange;
}

.current.nav-links {
    display: inline;
}

.site-title {
  color: orange;
  display: inline;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Yanone Kaffeesatz';
}

.navli {
  margin-right: 20px;
}

.navli a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navli a:hover {
  color: orange;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}

